/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.clickable-toggle{
	cursor: pointer;
	position: relative;
	font-size: 16px;
}

.clickable-toggle:hover{
	background-color: 	rgba(50, 141, 201, 0.1);
}

.clickable-toggle .arrow{
	content: "";
	width: 13px;
	height: 12px;
	background-image: url('/assets/images/arrow-up.png');
	display: block;
	float: right;
	margin-top: 3px;
}

.clickable-toggle.hidden-down .arrow{
	background-image: url('/assets/images/arrow-down.png');
}
tbody td a{
	font-weight: normal;
	font-size: 12px;
	background-color: transparent;
}

a.colorizeLvl{color: white !important} 
.alternative a.colorizeLvl{color: black !important} 

#demand table tr.incremental 	td.choice:nth-child(3) a.colorizeLvl{background-color: #040f3a !important}
#demand table tr.incremental  td.choice:nth-child(4) a.colorizeLvl{background-color: #071f68 !important}
#demand table tr.incremental  td.choice:nth-child(5) a.colorizeLvl{background-color: #133da5 !important}
#demand table tr.incremental  td.choice:nth-child(6) a.colorizeLvl{background-color: #3463e2 !important}

#supply table tr.incremental 	td.choice:nth-child(3) a.colorizeLvl{background-color: #332d07 !important}
#supply table tr.incremental  td.choice:nth-child(4) a.colorizeLvl{background-color: #776613 !important}
#supply table tr.incremental  td.choice:nth-child(5) a.colorizeLvl{background-color: #b79a21 !important}
#supply table tr.incremental  td.choice:nth-child(6) a.colorizeLvl{background-color: #eac52d !important}

#other table tr.incremental td.choice:nth-child(3) a.colorizeLvl{background-color: #24ea95 !important}
#other table tr.incremental td.choice:nth-child(4) a.colorizeLvl{background-color: #15b775 !important}
#other table tr.incremental td.choice:nth-child(5) a.colorizeLvl{background-color: #0c8255 !important}
#other table tr.incremental td.choice:nth-child(6) a.colorizeLvl{background-color: #023524 !important}
