#energysecurity .column {
  font-family: 'Roboto',Arial, sans-serif;
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.5%;
  font-size: 13px;
  width: 30%;
  margin-bottom: 30px;
  float: left; }

#energysecurity td.value, #energysecurity th.value {
  text-align: right; 
}
#energysecurity tr:hover{
  background-color: #CFE7FF
}
#energysecurity tr.top-title th.year{
  border-bottom: 1px solid #bbb;
  font-weight: bold;
}
#energysecurity tr.title th{
  border: none;
  border-bottom: 2px solid #6678b1;
  padding: 0;
  margin:0
}

#energysecurity th.year {
  text-align: right;
  border-bottom: solid 1px #000; }

#energysecurity table {
  width: 100%;
  background: #FBFDFF;
  padding: 0 5px;
  border: 1px solid #CFE7FF;
  font-weight: 400;
}

#energysecurity .clear {
  clear: both; }



#cost-macro-micro .column {
  font-family: 'Roboto',Arial, sans-serif;
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.5%;
  font-size: 13px;
  width: 30%;
  margin-bottom: 30px;
  float: left; }

#cost-macro-micro td.value, #cost-macro-micro th.value {
  text-align: right; 
}
#cost-macro-micro tr:hover{
  background-color: #CFE7FF
}
#cost-macro-micro tr.top-title th.year{
  border-bottom: 1px solid #bbb;
  font-weight: bold;
}
#cost-macro-micro tr.title th{
  border: none;
  border-bottom: 2px solid #6678b1;
  padding: 0;
  margin:0
}

#cost-macro-micro th.year {
  text-align: right;
  border-bottom: solid 1px #000; }

#cost-macro-micro table {
  width: 100%;
  background: #FBFDFF;
  padding: 0 5px;
  border: 1px solid #CFE7FF;
  font-weight: 400;
}

#cost-macro-micro .clear {
  clear: both; }
