svg {
  overflow: visible; }

.chart {
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.4%;
  width: 30%;
  margin-bottom: 0px;
  float: left; }

.chart rect.backgroundrect {
  /*fill: #fff; }*/
  fill: transparent; 
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges; }

.charttitle {
  text-anchor: middle;
  font-size: 1em; }

#unzoom {
  text-anchor: middle;
  font-size: 1em;
  text-decoration: underline;
  fill: #00f;
  cursor: pointer; }

text.target {
  text-anchor: middle;
  font-size: 0.72em; }

g.drawing {
  pointer-events: all; }

.axis2 path, .axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px; }

.axis text, .axis2 text {
  font-size: 0.72em;
  fill: #000; }

.axislabel {
  text-anchor: end;
  font-size: 0.72em; }

.line {
  fill: none;
  stroke: black;
  stroke-width: 3px; }

.linelabel {
  font-size: 0.72em;
  cursor: default; }

.area {
  fill-opacity: 1; }

path.total {
  stroke: black;
  stroke-width: 2px;
  fill: none; }

text.seriesValue {
  font-size: 0.72em;
  text-anchor: middle; }

path.total.hover {
  stroke-width: 3px; }

path.hover {
  stroke: black;
  stroke-width: 1px; }

.linelabel.hover {
  fill: black !important;
  opacity: 1;
  font-weight: bold; }

.labelbackground {
  fill: white; }

g.context path {
  fill: grey;
  fill-opacity: 0.02; }


.komersial {
  fill: black;}


circle.target {
  fill: #000;
  stroke: #fff;
}

g.targetlabel text {
  font-size: 0.72em;
}

g.targetlabel line {
  stroke: #ccc;
  stroke-thickness: 1;
}

tr.primary_energy_notes {
  display: none;
}
