#sankey {
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  height: 480px; 
  opacity: 0.85;
  
}

#sankey svg * {
  transition: opacity 1s; 
}

ul#sankey-nav{
  text-align: center;
  list-style:none;
  white-space: nowrap;
  margin: 10px auto;
  max-width: 624px;
}

ul#sankey-nav li{
  display: inline-block;
}

ul#sankey-nav li a {
  background-color: #328dc9;
  padding: 5px 15px;
  margin: 0 3px;
  color: white;
  text-decoration: none;
}

ul#sankey-nav li a:hover, ul#sankey-nav li a.active {
  background-color: #185D8B;
} 
