.navbar-default .navbar-brand{
  color: white
}

@media(max-width:767px) {
 .navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color: white
 }
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: #3c696c
}
.topbar {
  position: relative;
  border-radius: 0;
  // overflow: hidden;
  width: 100%;
  // background-color: #3c696c;
  color: white;
  // border-bottom: solid #287AB0 3px; 
  // padding: 2px;
  /*padding: 1px;
  margin: 0 0 10px 0;
   */
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c696c+0,58c0a2+100 */
  background: #3c696c; /* Old browsers */
  background: -moz-linear-gradient(left,  #3c696c 0%, #58c0a2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #3c696c 0%,#58c0a2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #3c696c 0%,#58c0a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c696c', endColorstr='#58c0a2',GradientType=1 ); /* IE6-9 */

}

.topbar a,.topbar.navbar-default .navbar-nav>li>a {
    font-family: 'Roboto',Arial, sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none; 
    display: block;
    // line-height: 40px;
}
.topbar .selectedView {
  background-color: rgba(255,255,255,0.3);
  color: blue;
}
.topbar a:hover {
  text-decoration: underline; 
  /*border-top: 2px solid #f4f4f4;*/
}
.topbar #name {
  float: left;
  margin-left: 2.4%;
  width: 15%; 
}

.topbar #examples {
  text-align: right;
  float: right;
  margin-right: 2.4%;
  width: 15%; 
  padding: 0;
}

.topbar #views {
  margin: 0;
  text-align: right; 
  line-height: 40px;
}
.topbar #views a {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  margin: 0 -4px -5px 0;
  font-size: 14px;
  line-height: 42px;
  border-left: 1px solid #FFF;
}

.dropdown-custom {
  z-index: 10000;
  position: absolute;
  display: none;
  background: rgba(255,186,0,0.9);
  border-left: 1px solid #cc9400;
  border-bottom: 1px solid #cc9400;
  border-right: 1px solid #cc9400;
  top: 60px;
  /*box-shadow: 0 0 5px #888; */
  vertical-align: middle;
}


.dropdown-custom a {
  color: #f4f4f4;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #0D6BA9;
  line-height: 30px;
  padding: 2px 15px;
  width: auto;
  min-width: 290px;
}

.dropdown-custom a:hover {
  background: rgba(9, 94, 150, 0.9);  
}



#savedpathway_choices {
  color: #000000;
  width: auto; 
  min-width: 290px;
  background: rgba(9, 94, 150, 0.7);  
}

.showdropdown {
  top: 47px;
  display: block; 
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}


.drawer {
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 0;
  // height: 100%;
  padding: .4em 0;
  color: white;
  text-align: center;
  /* Remove 4px gap between <li> */
  font-size: 0;
}
.drawer li {
  pointer-events: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  line-height: 100%;
  transform: translateZ(0);
}
.drawer a {
  pointer-events: auto;
  position: relative;
  display: block;
  min-width: 5em;
  margin-bottom: .4em;
  padding: .4em;
  line-height: 100%;
  /* Reset font-size */
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: background 0.3s;
}
.drawer a:active, .drawer a:focus {
  background: #3c696c;
}
.drawer i {
  display: block;
  margin-bottom: .2em;
  font-size: 2em;
}
.drawer span {
  font-size: .625em;
  font-family: sans-serif;
  text-transform: uppercase;
}
.drawer li:hover ul {
  /* Open the fly-out menu */
  transform: translateX(-133%);
  background: #3c696c;
  /* Enable this if you wish to replicate hoverIntent */
}
.drawer > li {
  display: block;
  /* Add a shadow to the top-level link */
  /* Show the shadow when the link is hovered over */
  /* Fly out menus */
}
.drawer > li > a {
  background: #3c696c;
}
.drawer > li:hover {
  z-index: 100;
}
.drawer > li:hover a {
  background: #3c696c;
}
.drawer > li a:hover {
  background: #F56356;
}
.drawer > li > a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 4px;
  opacity: 0;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
  transition: opacity 0.5s;
}
.drawer > li:hover a:after {
  opacity: 1;
}
.drawer > li ul {
  position: absolute;
  /* Stack below the top level */
  z-index: -1;
  top: 0;
  left: 100%;
  height: 100%;
  width: auto;
  white-space: nowrap;
  /* Close the menus */
  transform: translateX(100%);
  background: #3c696c;
  transition: 0.5s transform;
  padding-left: 0;
}

/**
 * Not required for demo
 */
@keyframes circle {
  50% {
    transform: scale(1.26923);
  }
}
@keyframes initials {
  50% {
    transform: translateY(-8px) translateZ(0);
  }
}
.ild-ident {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.ild-ident svg {
  overflow: visible;
  transform: translateZ(0);
}
.ild-ident svg .circle-holder {
  transform: translate(-7px, -7px);
}
.ild-ident svg .circle {
  transform: translate(7px, 7px);
  fill: #58c0a2;
}
.ild-ident svg.active .i {
  animation: initials .4s ease-in-out;
}
.ild-ident svg.active .l {
  animation: initials .4s .2s ease-in-out;
}
.ild-ident svg.active .circle {
  animation: circle .5s .1s ease-in-out;
}
