/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../intro-bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

.intro-message {
    position: relative;
    padding-top: 12%;
    padding-bottom: 20%;
    color: white;
}

.intro-message > h1 {
    margin: 0 0 2em 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }    
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: none;
    width: 40%;
    border-top: 3px solid #5dc1c1;
}

.banner {
    padding: 100px 0;
    color: #FFF;
    // background: url(../banner-bg.jpg) no-repeat center center;
    background-color: #153d3d;
    background-size: cover;
}

.banner span{
    display: block;
    color: #FFF
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

}

@media(min-width:767px) {
    .landing-page-content{
        padding: 0 
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.btn-flat{
    background: none;
    color: white;
    border-radius: 0;
    border-color: white;
}

.btn-flat:hover{
    background: rgba(255,255,255,0.2);
    color: white;
    border-color: white;
}

.start-btn{
    font-size: 2em;
    padding: 5px 30px;
}

.box-rounded{
    margin: 0 auto;
    overflow: hidden;
    height: 225px;
    width: 225px;
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    /* Prevent background color leak outs */
    -webkit-background-clip: padding-box; 
    -moz-background-clip:    padding; 
    background-clip:         padding-box;
}
.box-rounded img{
    // width: 150px;
    // height: 150px
}


.boxed-container{
    border: 1px solid #5dc1c1;
    padding: 90px 0 130px 0;
    margin-top: 25px;
}
.boxed-container b{
    font-size: 1.5em;
    font-weight: bold;
}
.boxed-container .box-rounded{
    margin: 20px auto 0;
}

.container{
    // color: #5dc1c1
}
.row.section{
    margin-top: 100px;
    // color: #5dc1c1
}

.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


.scaling{
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
@-webkit-keyframes scalex{
    from {-webkit-transform: scale(0.9);}
    65% {-webkit-transform: scale(1.0);}
    to {-webkit-transform: scale(0.9);}    
}
    
@-moz-keyframes scale{
    from {-moz-transform: scale(0.9);}
    65% {-moz-transform: scale(1.0);}
    to {-moz-transform: scale(0.9);}    
}

.section .boxed-container{
    padding: 90px 0;
}

.landing-page-content{
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 0 100px
}
.landing-page-content.no-margin{
    margin: 0
}
.landing-page-content h2{
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 2em;
}


.landing-page-content h1{
    color: #5dc1c1;
    font-size: 10em;
    margin: 0 0 50px 0 ;
}

.landing-page-content.with-bg{
    background-color: #5dc1c1;
}
.landing-page-content.with-bg p, .landing-page-content.with-bg h2, .landing-page-content.with-bg h1{
    color: #FFF;
    margin-bottom: 30px
}

.btn-start{margin-top: 70px}

.landing-page-content h2{
    color: #5dc1c1;
    font-size: 3em;
    margin: 0 0 70px 0;
}

.landing-page-content p{
    color: #555;
    text-indent:  20px;
    text-align: justify;
    color: #000;
    font-weight: normal;
    font-size: 1.2em;
}

.subcontent-list .subcontent-container{
    height: 200px;
    background-position: center;
    padding: 0;
}

.subcontent-list .subcontent-container:after{
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.42);
    display: block;
}

.subcontent-list .subcontent-container:hover:after{
    background: rgba(0,0,0,0.2);
}
.subcontent-list .subcontent-container:hover a{
    color: #FFF;
}
.subcontent-list .subcontent-container a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
    width: 80%;
    color: #5DC1C1;
}

.bg-content1{background-size: cover; background-image: url('../subcontent_1.jpg')}
.bg-content2{background-size: cover; background-image: url('../subcontent_2.jpg')}
.bg-content3{background-size: cover; background-image: url('../subcontent_3.jpg')}
.bg-content4{background-size: cover; background-image: url('../subcontent_4.jpg')}
.row{margin: 0 !important}

.subcontent-list.fixed{
    top:auto;
    bottom: -200px;
    margin-top: 0;
}
.subcontent-list{
    -webkit-transition: all 0.7s ease;  
    -moz-transition: all 0.7s ease;  
      -o-transition: all 0.7s ease; 
         transition: all 0.7s ease; 
    position:absolute;
    bottom:120%;
    margin-bottom: -100px;
    left:0;
    background:#000;
    width:100%;
    color: #fff;
    height: 100px;
    z-index:999;
    top:auto;
    bottom: 100px;
    margin-top: 0;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: #5DC1C1;
    border: 1px solid #FFF
}
#fp-nav ul li .fp-tooltip{
    color: #555
}
.image-content-container{
    position: relative;
}
.image-content-container img{
    position: relative;
    z-index: 2
}

.bg-particles{
    background-image: url('../particles.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80% 52px;
}

#content3 .bg-particles{
    position: absolute;
    width: 100%;
    top: -87px;
    height: 134%;
    z-index: 0;
    left: -28px;
    z-index: 1
}
.color-white{
    color: #FFF !important;
}
.wspace{
    margin-bottom: 4%
}
#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;                /* will be increased by JS */
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}