<!DOCTYPE html>
<html>
  <head>
    <!-- Probably always a good idea to be utf-8 -->
    <meta charset="utf-8">
    <!-- So iPads can view the app in full screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- This prevents Internet Explorer from entering 'quirks' mode -->
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <!-- Change the title to one for your own country -->
    <title>Indonesia 2050 Pathways Calculator</title>
    <!-- assets is a function definied in the Helper module in src/server.rb -->
    <link href='/assets/<%= assets['application.css']%>' media='screen' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <meta property="og:title" content="Indonesia 2050 Pathways Calculator"/>
    <meta property="og:description" content="Kalkulator 2050 Indonesia merupakan inovasi pemodelan berbasis web, menunjukkan sisi pasokan dan permintaan energi di Indonesia bersamaan dengan skenario tata guna lahan dan bagaimana keduanya berinteraksi dalam menentukan tingkat keamanan energi, emisi gas rumah kaca dan tata guna lahan di Indonesia di masa yang akan datang."/>


    <link rel="icon" href="favicon.ico" type="image/x-icon"> 

    <script src='/assets/<%= assets['application.js']%>' type='text/javascript'></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
    <!-- Change the Google Analytics code to one for your own country-->
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17161700-2']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <!-- Other countries may want to delete this warning. It is hidden initially by css in src/stylesheets/body.css
    Code in the checkSVGWorks function in src/javascripts/controller.js checks if the user's web browser
    supports SVG and, if it doesn't, shows this div.  -->
    <div id='svgWarn'>
      This interface requires <a href='http://caniuse.com/#cats=SVG'>a browser that supports SVG.</a> it seems like your browser doesn't support SVG. We have an <a href='http://uk-old.2050.org.uk'>old version of this calculator</a> that may work for you. Alternatively you can download <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/140'>an excel version.</a>
      <p>
        <a href='#' onclick="$('#svgWarn').hide()">Hide this message.</a>
      </p>
    </div>
    <nav class="navbar navbar-default topbar"  id="main-menu">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kalkulator Indonesia 2050</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Energi <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class='view' data-view='primary_energy_chart' href="#">Energi</a></li>
                <li><a class='view' data-view='electricity' href="#">Listrik</a></li>
                <li><a class='view' data-view='sankey' href="#">Alur Energi</a></li>
                <li><a class='view' data-view='security' href="#">Ketahanan Energi</a></li>
                <li><a class='view' data-view='biouse' href='#'>Bioenergi</a></li>
              </ul>
            </li>

            <li><a class='view' data-view='emisi' href="#">Emisi</a></li>
            <li><a class='view' data-view='lahan' href="#">Lahan</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analisa Biaya <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class='view' data-view='biaya' href='#'>Biaya Lingkungan</a></li>
                <li><a class='view' data-view='cost_makro_mikro' href='#'>Analisa Nilai Aset Terdampar</a></li>
                <!--- <li><a class='view' data-view='stranded' href='#'>Analisa Biaya Terdampar</a></li> -->             
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dokumen <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a  class='view' data-view='mini_paper' href="#">Minipaper</a></li>
                <li><a href='http://2050-calculator-tool-wiki.decc.gov.uk'>Links</a></li>
              </ul>
            </li>
            

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contoh Skenario <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% structure.example_pathways.each do |pathway| %>
                  <li><a href='#' onclick="twentyfifty.switchPathway('<%= pathway[:code] %>', '<%= pathway[:name] %>');$('ul#savedpathway_choices').toggle()"><%= pathway[:name] %></a></li>
                <% end %>
              </ul>
            </li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    
    <!-- This appears while the tool is waiting for data from the server -->
    <div id='calculating'>
      <span>Calculating</span>
    </div>
    
    <!-- / The charts will be drawn in this block -->
    <div id="ob-chart-container" class="row">
      <div class="col-md-4 col-sm-4"><div id="ob-chart1" class="ob-chart"></div></div>
      <div class="col-md-4 col-sm-4"><div id="ob-chart2" class="ob-chart"></div></div>
      <div class="col-md-4 col-sm-4"><div id="ob-chart3" class="ob-chart"></div></div>
      <div class="clearfix"></div>
    </div>

    <div id="ob-mini-paper">
          <% [["energy", "Energi"], ["land_use", "Tata guna Lahan"], ["bioenergi", "Bioenergi"]].each do |key| %>
            <div class="panel-title">
              <div> <%= key[1]%></div>
            </div>

            <div class="panel-content">
                <% [[:id, 'full']].each do |content| %>
                  <ul class="ob-content <%= content[1] %>">
                    <% paper[key[0]][content[0]].each do |file_name| %>
                      <li>
                        <a href="/assets/mini_paper/<%= "#{key[0]}/#{content[0]}/#{file_name}" %>"><%= file_name.gsub('.pdf', '') %></a> 
                      </li>
                    <% end %>
                    <% if paper[key[0]][content[0]] == [] %>
                      <div class="ob-blank"> - </div>
                    <% end %>
                    <div class="clearfix"></div>
                  </ul>
                <% end %>
            </div>
            <div class="clearfix"></div>
          <% end %>          
        
    </div>
    <div id="ob-welcome-message" class="ob-modal">
      <div id="msform" class="ob-modal-container">

        <h2>SELAMAT DATANG DI PATHWAY CALCULATOR  2050</h2>

        <p>Anda dapat langsung menggunakan Kalkulator Indonesia Pathway 2050 atau melihat tour fitur yang tersedia</p>
        <br><br><br>
        <div class="close btn-masuk">MASUK</div>
        <a href="#" class="close btn-outline" id="start-tour">MEMULAI TOUR</a>
      </div>
    </div>
    <div id="ob-share-pathway" class="ob-modal">
      <div id="msform">
        <fieldset>
          <div class="close">x</div>
          <div id="bubble-outline-basic" class="bubble">
            <textarea rows="4" placeholder="Tambahkan pesan (tidak wajib)"> </textarea>   
            <div class="post-detail">
              <div class="post-detail-image"></div>
              <div class="post-detail-desc">Kalkulator 2050 Indonesia merupakan inovasi pemodelan berbasis web, menunjukkan sisi pasokan dan permintaan energi di Indonesia bersamaan dengan skenario tata guna...</div>
              <div class="clearfix"></div>
            </div>          
          </div>
           
          
          <button class="btn btn-fb btn-full js-facebook-share btn-big">
            <span class="symbol symbol-facebook-f"></span>Kirim ke Facebook
          </button>  
          <a class="btn-twit" href="javascript:twittersharePathwayUrl()" target="_blank" alt="Tweet"><img src="/assets/images/tweetIcon.gif"/></a>
        </fieldset>
      </div> 
      
    </div>

    <div id="ob-submit-pathway" class="ob-modal">
      
      <form action="/pathway" id="msform" method="post">
        <fieldset>
        <div class="close">x</div>
          <% %w(Nama Email).each do |f|%>
            <label><%= "#{f}:"%></label>
            <input type="text" name="pathway[<%= "#{f.downcase}"%>]" data-id="<%= "#{f}"%>">
            <div class="clearfix"></div>
          <% end %>
          <input type="hidden" name="pathway[url]" data-id="url">
          <div class="form-group">
            <div class="ob-col-6">
              <label>Pekerjaan</label>
              <select name="pathway[pekerjaan]" data-id="Pekerjaan">
              <% pekerjaan = ["Pensiunan","Pekerja sosial/LSM", "Dosen/peneliti","Pekerja profesi", "Anggota parlemen","Pelajar", "Mahasiswa", "PNS", "Karyawan swasta"].sort + ["Lainnya"]%>
                <% pekerjaan.each do |pekerjaan|%>
                  <option value="<%= pekerjaan %>"><%= pekerjaan %></option>
                <% end %>
              </select>
            </div>
            <div class="ob-col-6">
              <label>Umur</label>
                <select name="pathway[umur]"  data-id="Umur">
                  <% %w(12-17 17-25 25-35 35-50 >50).each do |umur|%>
                    <option value="<%= umur %>"><%= umur %></option>
                  <% end %>
                </select>
            </div>
          </div>
          
          
          <label>Bagikan ke teman</label>
            <input type="text" name="pathway[list_email]" data-id="List Email" placeholder="teman@example.com, teman2@example.com">
            <textarea name="pathway[pesan]" value="" data-id="Pesan" placeholder="isi pesan">
              
            </textarea>
            <div class="clearfix"></div>
            <div class="g-recaptcha" data-sitekey="6LdE5QUTAAAAANkY5f-PEiIHOr430c8J1Rw5whS0"></div>
            <br>
          <input type="submit" value="Submit">
          
          <a href="javascript:fbsharePathwayUrl()" target="_blank" alt="Share on Facebook"><img src="/assets/images/fb-share.gif"/></a>
          <a href="javascript:twittersharePathwayUrl()" target="_blank" alt="Tweet"><img src="/assets/images/tweetIcon.gif"/></a>
        </fieldset>
        <div class="clearfix"></div>
      </form>
    </div>
    <div id='results'>
      
    </div>
    
   
    <!-- / These are the controls -->
    <div id='classic_controls'>
      <!-- The left column -->
      <div id='demand' class="col-md-4 col-sm-6" >
        <h2>Sektor Rumah Tangga</h2>
        <table>
        
          <!-- One row per choice -->
          <% structure.choices[19..22].each do |choice| %>
          <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
            <td class='name'>
              <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                <%= choice.name %>
              </a>
            </td>
            <td class='help'>
              <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
            </td>
            <!-- One cell per level for that choice -->
            <% choice.levels.each.with_index do |level,i| %>
            <td class='choice'>
              <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                <%= level %>
              </a>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <h2>Sektor Komersial</h2>
        <table>
          <!-- One row per choice -->
          <% structure.choices[23..26].each do |choice| %>
          <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
            <td class='name'>
              <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                <%= choice.name %>
              </a>
            </td>
            <td class='help'>
              <a title='Klik disini untuk mengetahui arti dari pilihan <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
            </td>
            <!-- One cell per level for that choice -->
            <% choice.levels.each.with_index do |level,i| %>
            <td class='choice'>
              <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                <%= level %>
              </a>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <h2>Sektor Industri</h2>
        <table>
          <!-- One row per choice -->
          <% structure.choices[27..29].each do |choice| %>
          <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
            <td class='name'>
              <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                <%= choice.name %>
              </a>
            </td>
            <td class='help'>
              <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
            </td>
            <!-- One cell per level for that choice -->
            <% choice.levels.each.with_index do |level,i| %>
            <td class='choice'>
              <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                <%= level %>
              </a>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <h2>Sektor Transportasi</h2>
        <div class="wrapper">
          <h3>Transportasi Barang </h3>
          <table>
            <!-- One row per choice -->
            <% structure.choices[30..31].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>
          <h3>Transportasi Penumpang Dalam Kota</h3>
          <table>
            <!-- One row per choice -->
            <% structure.choices[32..34].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>
          <h3>Transportasi Penumpang Antar Kota</h3>
          <table>
            <!-- One row per choice -->
            <% choice = structure.choices[35] %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
          </table>
          <h3>Transportasi Udara</h3>
          <table>
            <!-- One row per choice -->
            <% structure.choices[36..37].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>
        </div>
        <h2>Pertanian, Konstruksi & Pertambangan</h2>
        <table>
          <!-- One row per choice -->
          <% structure.choices[38..40].each do |choice| %>
          <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
            <td class='name'>
              <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                <%= choice.name %>
              </a>
            </td>
            <td class='help'>
              <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
            </td>
            <!-- One cell per level for that choice -->
            <% choice.levels.each.with_index do |level,i| %>
            <td class='choice'>
              <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                <%= level %>
              </a>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
      </div>
      <!-- The middle column -->
      <div id='supply'  class="col-md-4 col-sm-6" >
        <h2>Pembangkitan Listrik Thermal Konvensional</h2>
        <table>
          <% structure.choices[0..2].each do |choice| %>
          <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
            <td class='name'>
              <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                <%= choice.name %>
              </a>
            </td>
            <td class='help'>
              <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
            </td>
            <!-- One cell per level for that choice -->
            <% choice.levels.each.with_index do |level,i| %>
            <td class='choice'>
              <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                <%= level %>
              </a>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <h2>Pembangkitan Listrik Energi Baru & Terbarukan</h2>
        <table>
          <% structure.choices[4..10].each do |choice| %>
          <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
            <td class='name'>
              <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                <%= choice.name %>
              </a>
            </td>
            <td class='help'>
              <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
            </td>
            <!-- One cell per level for that choice -->
            <% choice.levels.each.with_index do |level,i| %>
            <td class='choice'>
              <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                <%= level %>
              </a>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <h2>Teknologi Pembangkit Tambahan</h2>
        <table>
          <% structure.choices[3..3].each do |choice| %>
          <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
            <td class='name'>
              <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                <%= choice.name %>
              </a>
            </td>
            <td class='help'>
              <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
            </td>
            <!-- One cell per level for that choice -->
            <% choice.levels.each.with_index do |level,i| %>
            <td class='choice'>
              <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                <%= level %>
              </a>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <h2>Sumber Energi Fosil</h2>
        <table>
          <% structure.choices[11..13].each do |choice| %>
          <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
            <td class='name'>
              <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                <%= choice.name %>
              </a>
            </td>
            <td class='help'>
              <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
            </td>
            <!-- One cell per level for that choice -->
            <% choice.levels.each.with_index do |level,i| %>
            <td class='choice'>
              <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                <%= level %>
              </a>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <h2>Bio-energi</h2>
        <table>
          <!-- this should actually go up to choice 42, but that isn't ready for prime time yet -->
          <% @a = structure.choices[14..15] + structure.choices[16..17]%>
          <% @a.each do |choice| %>
          <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
            <td class='name'>
              <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                <%= choice.name %>
              </a>
            </td>
            <td class='help'>
              <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
            </td>
            <!-- One cell per level for that choice -->
            <% choice.levels.each.with_index do |level,i| %>
            <td class='choice'>
              <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                <%= level %>
              </a>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
      </div>
      <!-- The right column -->
      <div id='other'  class="col-md-4 col-sm-6" >
        <h2>Sektor Tata Guna Lahan</h2>
        <div class="wrapper">
          <h3>Produksi energi berbasis lahan </h3>
          <table>
            <% choice_l1 = structure.choices[49]%>
            <tr class='<%= choice_l1.incremental_or_alternative %>' id='r<%= choice_l1.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice_l1.doc %>' target='_new' data-choicenumber='<%= choice_l1.number %>'>
                  <%= choice_l1.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Click for more detail on what choices <%= choice_l1.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice_l1.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice_l1.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice_l1.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice_l1.number %>l<%= i+1%>' title='<%= choice_l1.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
          </table>
          <h3>Pertanian dan Perkebunan </h3>
          <table>
            <% structure.choices[50..50].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>
          <table>
            <% structure.choices[41..44].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>
          <h3>Perkebunan kelapa sawit </h3>
          <table>
            <% structure.choices[45..46].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>
          <h3>Kehutanan </h3>
          <table>
            <% choice_l2 = structure.choices[47]  %>
            <tr class='<%= choice_l2.incremental_or_alternative %>' id='r<%= choice_l2.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice_l2.doc %>' target='_new' data-choicenumber='<%= choice_l2.number %>'>
                  <%= choice_l2.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Click for more detail on what choices <%= choice_l2.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice_l2.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice_l2.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice_l2.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice_l2.number %>l<%= i+1%>' title='<%= choice_l2.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
          </table>
          <h3>Lahan Kritis </h3>
          <table>
            <% choice_l3 = structure.choices[48] %>
            <tr class='<%= choice_l3.incremental_or_alternative %>' id='r<%= choice_l3.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice_l3.doc %>' target='_new' data-choicenumber='<%= choice_l3.number %>'>
                  <%= choice_l3.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Click for more detail on what choices <%= choice_l3.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice_l3.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice_l3.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice_l3.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice_l3.number %>l<%= i+1%>' title='<%= choice_l3.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
          </table>
        </div>
	<h2>Biaya, Harga dan Nilai Aset Terdampar</h2>
	<div class='harga'>
	  <h3>Biaya Lingkungan</h3>
          <table>
            <% structure.choices[51..52].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>
	<h3>Harga Bahan Bakar</h3>
	  <table>
            <% structure.choices[53..55].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>
	<h3>Nilai Aset Terdampar</h3>
	  <table>
            <% structure.choices[56..58].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Klik disini untuk mengetahui arti dari nilai-nilai <%= choice.levels.to_a.join(' ')%>..' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
              <td class='choice'>
                <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                  <%= level %>
                </a>
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>
	</div>
        <div id="notes_container">
          <h4>Catatan</h4>
          <table id='notes'>
            <tr><td id='firstcell'><div class='help'>?</div></td><td>Tanda tanya akan membawa anda kepada penjelasan dari setiap pilihan</td></tr>
            <tr><td><div class='level1'>1</div></td><td>Merupakan pilihan dengan usaha yang rendah.</td></tr>
            <tr><td><div class='level2'>2</div></td><td>Terlihat sangat ambisius, tetapi tetap masuk akal menurut pakar.</td></tr>
            <tr><td><div class='level3'>3</div></td><td>Terlihat sebagai pilihan yang tidak mungkin tanpa perubahan mendasar dari sistem yang ada dan/atau perubahan pemanfaatan teknologi yang besar.</td></tr>
            <tr><td><div class='level4'>4</div></td><td>Kemungkinan yang terbesar dari potensi yang ada.</td></tr>
            <tr><td><div class='alternate'>A</div>&ndash;<div class='alternate'>D</div></td><td>Pilihan opsi dimana satu opsi tidak harus lebih susah dibandingkan opsi lain.</td></tr>
            <tr class='description'><td>PLTU</td><td>Pembangkit listrik batubara digunakan sebagai penyeimbang jika terjadi kekurangan pasokan listrik.</td></tr>
            <tr class='description'><td>Impor</td><td>Pangsa impor energi primer dihitung terhadap masing-masing total pasokan energi tersebut. Impor rata-rata adalah total impor dibagi dengan total pasokan energi primer.</td></tr>
            <tr class='descr
            iption'><td>Baseline</td><td>Baseline merupakan skenario acuan yang digunakan sebagai pembanding. Beberapa asumsi skenario acuan ini mengacu kepada target yang terdapat pada INDC.</td></tr>
          </table>  

        </div>
        <ul id="float-menu-container">
          <li id="display_catatan" class="ob-float-menu"> Legend </button>
          <li id="submit-pathway"  class="ob-float-menu"> Submit pathway </button>
          <li id="share-pathway"   class="ob-float-menu"> Share pathway </button>
        </div>

            
      </div>
    </div>
    <!-- This is needed to show the tooltips, don't remove -->
    <div id='tooltip'></div>
    <div id='footer'>
      <!-- Change this to link to your country's website -->
      Semua asumsi dan perhitungan dapat dilihat pada dokumen Excel. Unduh <a href='/model.xlsx'>Excel <%= structure.reported_calculator_version %> <%= %></a>. Kode program dalam laman ini memiliki lisensi sumber terbuka (<i><b>open source license</b></i>). 
    </div>
    <!-- The following html is only displayed on screen when a user selects a particular view -->
    <div id='snippets'>
      <!-- This is shown the first time a user visits a costs page -->
      <div id='cost_caveats'>
        We would like your help to develop this tool. Please <a href="http://2050-calculator-tool-wiki.decc.gov.uk">click here</a> to find out more about our methodology and suggest improvements.  Before viewing the cost implications of your choices, please note that:
        <ol>
          <li> The Calculator expresses pathway costs as 'average pounds per person per year'. This is not the same as your energy bill. It is the cost of everything the UK buys that makes, converts, saves or uses energy: from kettles and insulation foam to trains and power stations. You can choose to see the results in different units when using the <a href=\"http://www.decc.gov.uk/2050\">excel version of the Calculator.</a> </li>
          <li>The Calculator does not choose any options automatically, regardless of their cost.</li>
          <li> The Calculator uses forecasts from credible sources of how technology and fuel costs might rise or fall over time. You vary these forecasts using the <a href="#" onclick="twentyfifty.switchView('costs_sensitivity'); return false;">cost sensitivity</a> implication from the menu on the top left. The full set of data points is available on the <a href="http://2050-calculator-tool-wiki.decc.gov.uk">wiki.</a> </li>
          <li>The cost of not tackling climate change is not included in the Calculator. The Stern review estimated that failing to tackle climate change could reduce global GDP by up to 20%. This is the equivalent of up to &pound;6,500 per person per year on average, on top of the cost of the energy system.</li>
          <li>Some other important effects have been excluded from the Calculator. The costs of travelling less or with different modes of transport, having colder homes or fewer goods, and changing the appearance of our houses or landscape are not included. Nor are profits, taxes, subsidies or economies of scale driven by pathway choices. The Calculator includes only the physical costs of constructing, operating and fuelling equipment.</li>
          <li>Costs are just one feature for comparing 2050 pathways. The Calculator provides information on other impacts, as well as some illustrative pathways to compare your choices with.</li>
        </ol>
        <div id='understand'>
          <a href="#" onclick="$.jStorage.set('CostCaveatShown',true);$('#cost_caveats').hide(); return false;">Click to continue using the calculator</a>
        </div>
      </div>
      <div id='air_quality_results'>
        <div class='airquality'>
          <h1>The impact of your pathway on air quality</h1>
          <div class='airqualitymessage' id='airqualitymessage'>
            The damage to human health arising from air pollution from this pathway, principally particulate matter, could be around <span id='airquality_range_start'></span><span id='airquality_range_end'></span> in 2050 compared to 2010. <span id='air_quality_worse'> Given the scope for adverse implications for air quality, if the UK were to adopt this pathway the Government  would develop a policy framweork that supported the innovation required to be at the bottom end of the range</span>
          </div>
          <div id='airquality'></div>
          <div class='airqualitymessage'>
            <h2>How to interpret these results:</h2>
            <ul>
              <li>Air pollution health impact index &mdash; this index measures the effect on human health from fine particulate matter and other air pollutants such as nitrogen oxides.  For example, these pollutants have been linked to premature death caused by heart and lung disease. 2010 is the baseline year (100). A number lower than 100 indicates a reduction in average air pollution and associated health impacts, whilst a higher number indicates an increase. This index reflects changes in the average concentration of air pollutants across the UK.  It does not provide information on the number or severity of pollution hotspots.</li>
              <li>High end of hatched range &mdash; worst case scenario for air pollution whereby there is no further deployment or innovation in pollution abatement technology between now and 2050 beyond planned measures.</li>
              <li>Low end of hatched range &mdash; best case scenario whereby innovation radically improves pollution abatement technology between now and 2050 and it is fully deployed.</li>
            </ul>
            <p>
              We would welcome your feedback on the
              <a href="http://2050-calculator-tool-wiki.decc.gov.uk/pages/80">methodology</a> used to calculate the impact of your pathway on air quality.
              You can also download the excel version of the 2050 pathways calcualtor to see the different types of air pollution and the relative importance of different sources.
            </p>
          </div>
        </div>
      </div>
      <div id="energysecurity">
        <div id="balancing" class="column">
          <h2>Balancing electricity supply and demand</h2>
          <p id='autobuild_text'><span id='pathway_balancing_ccgt'></span> GW of conventional gas electricity generation plant has been assumed to have been built by 2050, to cover the gap between average electricity demand and the amount of low carbon generation selected in this pathway.</p>
          <p>This tool does not model the hourly, daily or even seasonal operation of the electricity grid. It presents annual averages. Therefore it does not correctly represent the peaks and troughs of electricity demand.</p>
          <p>To go some way to addressing this flaw, the tool applies a simulated stress test to your pathway of five cold, almost windless, days. This is described in more detail <a href="/assets/onepage/49.pdf" target="_new">here</a>. In this case, the stress test implies that <span id='pathway_balancing_peaking'></span> GW of additional peaking plant may be required for supply to meet demand over that period.</p>
          <p>You can influence the amount of peaking plant by changing your choice level of 'storage, demand shifting &amp; interconnection' below right,or by reducing the amount of intermittent renewable generation, or by reducing the demand for electricity</p>
        </div>
        <div id="imports" class="column">
          <h2>Dependence on imported energy</h2>
          <p>The calculator assumes that any available biomass is preferred over fossil fuels and that domestically produced fuels are preferred over imports.It assumes that fossil fuels are imported to cover any shortfall.</p>
          <table id="imports">
            <tr><th class="description"></th><th colspan="2" class="year">2011</th><th></th><th colspan="2" class="year">2050</th></tr>
            <tr><th class="description">Imports</th><th class="value">TWh/yr</th><th class="value">%</th><th></th><th class="value">TWh/yr</th><th class="value">%</th></tr>
          </table>
        </div>
        <div id="diversity" class="column">
          <h2>Diversity of energy sources</h2>
          <p>There may be a benefit from maintaining a diversity of energy sources:</p>
          <table id="diversity">
            <tbody>
              <tr><th class="description">Proportion of energy supply</th><th class="year">2007</th><th></th><th class="year">2050</th></tr>
            </tbody>
          </table>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- <ul class="drawer" id="float-menu">
          <li>
            <a href="#">
              <span>?</span>
            </a>
            <ul>
              <li>
                <a href="#" id="display_catatan">
                  <span id>Legend</span>
                </a>
              </li>
              <li>
                <a href="#" id="submit-pathway">
                  <span id>Submit pathway</span>
                </a>
              </li>
              <li>
                <a href="#" id="share-pathway">
                  <span id>Share pathway</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>   -->
  <script type="text/javascript">
  buttonFacebookShare();initTour();initToggle();initCatatan();submitPathway();sharePathway();initWelcomeMessage();$('textarea').val("")
  </script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '147658201976037',
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
    // facebbook
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=235342033335535";
    fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));

    // Twitter
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));

  </script>
</body>
</html>
