<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Probably always a good idea to be utf-8 -->
    <meta charset="utf-8">
    <!-- So iPads can view the app in full screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- This prevents Internet Explorer from entering 'quirks' mode -->
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <!-- Change the title to one for your own country -->
    <title>Indonesia 2050 Pathways Calculator</title>
    <!-- assets is a function definied in the Helper module in src/server.rb -->
    <link href='/assets/<%= assets['application.css']%>' media='screen' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <meta property="og:title" content="Papua 2050 Pathways Calculator"/>
    <meta property="og:description" content="Kalkulator 2050 Indonesia merupakan inovasi pemodelan berbasis web, menunjukkan sisi pasokan dan permintaan energi di Indonesia bersamaan dengan skenario tata guna lahan dan bagaimana keduanya berinteraksi dalam menentukan tingkat keamanan energi, emisi gas rumah kaca dan tata guna lahan di Indonesia di masa yang akan datang."/>


    <link rel="icon" href="favicon.ico" type="image/x-icon"> 

    <!-- Bootstrap Core CSS -->
    <link href="assets/landing/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/landing/jquery.fullPage.css" rel="stylesheet">
    <link href="assets/landing/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/landing/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>    
    <!-- /.intro-header -->

    <!-- Page Content -->

    
    <div class="content-section-a" id="fullpage">
        <div class="row section intro-header">
            <div class="col-lg-12 container">
                <div class="intro-message">
                    <h1>Indonesia 2050 Pathways Calculator</h1>
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="/pathways" class="start-btn btn btn-default btn-lg btn-flat">START</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="row section">
            <div id="content1" class="landing-page-content col-md-12">
                <div class="col-md-12 col sm-12 col-xs-12 text-center">
                    <h2>PERUBAHAN IKLIM</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center image-content-container">
                    <img src="/assets/content-image-1.png" alt="">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    
                    <p>Perubahan iklim adalah berubahnya tren cuaca yang disebabkan oleh peningkatan emisi gas rumah kaca yang mempengaruhi komposisi atmosfer secara global sebagai akibat dari aktivitas manusia - baik secara langsung maupun tidak langsung. Atmosfer bumi terdiri dari gas-gas rumah kaca yang berguna untuk menahan sebagian panas matahari yang masuk ke lapisan atmosfer bumi agar dapat menghangatkan bumi. Tanpa sebuah atmosfer, bumi akan menjadi dingin dan beku seperti planet lainnya yang tidak memungkinkan kehidupan untuk berlangsung di dalamnya. Namun, saat ini lapisan atmosfer bumi memiliki kelebihan kandungan CO2 sebesar 42% daripada sebelum zaman industri. Hal inilah yang mengakibatkan lebih banyak energi dari matahari tertangkap dalam atmosfer bumi sehingga menyebabkan perubahan iklim.</p>

                    <p>Dampak perubahan iklim mencakup: turunnya produksi pangan global; bertambahnya kasus penyakit yang ditularkan melalui vektor seperti malaria dan demam berdarah; meningkatnya kejadian cuaca ekstrim seperti gelombang panas, banjir, dan badai tropis; naiknya permukaan air laut secara signifikan; dan punahnya berbagai spesies yang rentan terhadap kenaikan suhu. Di Indonesia, masyarakat miskin dan terpinggirkan cenderung berada di wilayah risiko tinggi yang sangat rentan terhadap dampak perubahan iklim seperti banjir, longsor, naiknya permukaan air laut, dan kekeringan saat musim kemarau.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row section">
            <div id="content2" class="landing-page-content col-md-12">
                
                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    <div class="col-md-12 col sm-12 col-xs-12 text-center">
                        <h1 class="color-white">< 2ºC</h1>
                    </div>
                    <p class="color-white">
                        Dampak perubahan iklim yang semakin dirasakan di seluruh belahan bumi mendorong komunitas internasional untuk mengambil tindakan cepat dalam upaya adaptasi dan mitigasi perubahan iklim. Di dalam Konferensi Para Pihak Konvensi Kerangka Kerja Perubahan Iklim Perserikatan Bangsa-Bangsa ke-21 (COP21 UNFCCC), 195 negara anggota berkumpul untuk menentukan agenda percepatan penurunan emisi selama periode tahun 2016-2020 serta penanganan perubahan iklim pasca-2020. Pertemuan tingkat tinggi ini kemudian menghasilkan kesepakatan yang disebut “The Paris Agreement” yang berisi komitmen dari semua negara anggota untuk menjaga kenaikan suhu di bawah 2 derajat Celcius.
                    </p>
                    <p class="color-white">
                        Untuk mencapai tujuan bersama ini, tiap-tiap negara anggota UNFCCC menargetkan untuk mengurangi emisi gas rumah kaca nasional sesegera mungkin melalui pembangunan berkelanjutan yang rendah karbon dengan mempertimbangkan kesetaraan dan kesejahteraan masyarakat miskin dan terpinggirkan. Komitmen tiap-tiap negara anggota ini kemudian dituangkan dalam Intended Nationally Determined Contributions (INDCs).
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center image-content-container">
                    <img src="/assets/content-image-2.png" alt="">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row section">
            <div id="content3" class="landing-page-content col-md-12">
                <div class="col-md-12 col sm-12 col-xs-12 text-center">
                    <h2>KEBIJAKAN PERUBAHAN IKLIM INDONESIA</h2>
                </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-center image-content-container">
                    <img src="/assets/content-image-3.png" alt="">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    <p>
                        Sebagai negara penyumbang emisi gas rumah kaca terbesar kelima di dunia, Indonesia membuat target ambisius dalam INDC-nya yaitu menurunkan emisi gas rumah kaca sebesar 29% dibandingkan skenario business as usual atau hingga 41% dengan bantuan internasional pada tahun 2030. Emisi gas rumah kaca Indonesia sebagian besar berasal dari deforestasi dan degradasi hutan serta sektor energi. Meskipun deforestasi dan degradasi hutan merupakan penyumbang terbesar emisi Indonesia saat ini, peningkatan emisi gas rumah kaca per tahun dari sektor energi lebih besar dibandingkan dari deforestasi dan degradasi hutan. Oleh karena itu, upaya-upaya pengelolaan energi yang lebih efisien dan berkelanjutan harus dimaksimalkan.
                    </p>
                    <p>
                        Salah satu pedoman pengelolaan energi terdapat di dalam Peraturan Pemerintah Republik Indonesia No. 79 Tahun 2014 tentang Kebijakan Energi Nasional. Secara garis besar kebijakan ini mengatur: pengelolaan energi secara mandiri, memprioritaskan penyebaran energi secara merata di seluruh wilayah Indonesia, memastikan daya dukung lingkungan tetap terjaga, memanfaatkan sumber daya energi lokal, mengurangi pemanfaatan bahan bakar fosil seperti minyak bumi dan batu bara, serta mengeksplorasi potensi energi baru dan terbarukan.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row section">
            <div id="content3" class="landing-page-content no-margin col-md-12" >
                <div class="col-md-12 col sm-12 col-xs-12 text-center">
                    <h2 class="color-white">CALCULATOR 2050 PATHWAY</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    <p class="color-white">
                        Pada tahun 2050, populasi global diperkirakan akan bertumbuh menjadi 10 milyar jiwa dan ekonomi global akan meningkat tiga kali lipat. Di sisi lain, ada urgensi untuk memperlambat laju perubahan iklim untuk menjaga kenaikan suhu global di bawah 2°C sesuai dengan The Paris Agreement. Teknologi, sumber daya, dan tata guna lahan yang tersedia harus dimanfaatkan untuk mencapai target pertumbuhan ekonomi dan menekan laju perubahan iklim secara bersamaan. Namun demikian, transisi menuju ekonomi rendah karbon memerlukan upaya yang signifikan dan segera dari seluruh sektor.
                    </p>
                    <p class="color-white">
                        Melalui Calculator 2050, kita dapat mengatur dan memantau dampak pilihan kebijakan pemanfaatan energi nasional dengan membuat beberapa skenario atau pathway. Calculator 2050 memungkinkan pengguna untuk melihat hubungan antara pilihan kebijakan pemanfaatan energi dari berbagai sektor (transportasi, rumah tangga, komersial, industri, pertanian, konstruksi dan pertambangan) serta dampaknya terhadap pemanfaatan lahan dan emisi gas rumah kaca. Pengguna juga dapat saling berbagi skenario pilihan mereka dalam mencapai target penurunan emisi gas rumah kaca nasional untuk memudahkan proses diskusi kebijakan pembangunan Indonesia ke depannya.
                    </p>
                    <br>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center image-content-container">
                    <img src="/assets/content-image-4.png" alt="">
                    <div class="bg-particles"></div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 btn-start text-center">
                    <a href="/pathways" class="start-btn btn btn-default btn-lg btn-flat">START 2050 CALCULATOR</a>  
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row section">
            <div id="content4" class="landing-page-content no-margin col-md-12" >
               <div class="col-md-12 text-center wspace">
                  <a href="http://www.esdm.go.id/"><img src="/assets/logo_esdm.png" width="200px" alt=""> </a>
               </div>
               <div class="col-md-12 text-center wspace">
                  <a href="https://www.gov.uk/government/world/indonesia"><img src="/assets/logo_uk_embassy.png" width="200px" alt=""> </a>
               </div>
               <div class="col-md-4 text-center">
                  <a href="http://deliverology.org/"><img src="/assets/logo_idea.png" width="200px" alt=""> </a>
               </div>
               <div class="col-md-4 text-center">
                  <a href="http://rccc.ui.ac.id/"><img src="/assets/logo_rccc.png" width="200px" alt=""> </a>
               </div>
               <div class="col-md-4 text-center">
                  <a href="http://www.pelangi.or.id/"><img src="/assets/logo_pelangi.png" width="200px" alt=""> </a>
               </div>
            </div>
        </div>

      
        </div>

        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-md-4 text-center">
                    <span>Lorem ipsum dolor sit amet</span>
                    <br>
                    <span>Loremamet</span>
                    <span>Ipsumdolor</span>
                    <span>Sitlorem</span>
                </div>
                <div class="col-md-4 text-center">
                    <span>Lorem ipsum dolor sit amet</span>
                    <br>
                    <span>Loremamet</span>
                    <span>Ipsumdolor</span>
                    <span>Sitlorem</span>
                </div>
                <div class="col-md-4 text-center">
                    <span>Lorem ipsum dolor sit amet</span>
                    <br>
                    <span>Loremamet</span>
                    <span>Ipsumdolor</span>
                    <span>Sitlorem</span>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <div class="row subcontent-list menu">
        <div class="col-md-3 col-sm-6 col-xs-12 subcontent-container bg-content1">
            <a href="#perubahan-iklim">PERUBAHAN IKLIM</a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 subcontent-container bg-content2">
            <a href="#2-derajat"> < 2ºC </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 subcontent-container bg-content3">
            <a href="#kebijakan-indonesia"> KEBIJAKAN INDONESIA </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 subcontent-container bg-content4">
            <a href="#calculator-2050"> CALCULATOR 2050 </a>
        </div>
    </div>
  
    <div id="overlay">
      <div id="progstat"></div>
      <div id="progress"></div>
    </div>

    <div id="container">
      <img src="http://placehold.it/3000x3000/cf5">
    </div>
    
    <!-- jQuery -->
    <script src="assets/landing/jquery.js"></script>
    <script src="assets/landing/jquery.fullPage.min.js"></script>
    <script src="assets/landing/landing.js"></script>

    

</body>

</html>
